/* styles.css */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.allBlogsContainer {
    max-width: 800px;
    margin: 100px auto;
    height: auto;
}

#allBlogHeadding {
    text-align: center;
    font-size: 50px;
    color: darkolivegreen;
}

.allBlogsContainer hr{
  width: 250px;
  border: 2px solid darkolivegreen;
  margin-top: -25px;
  margin-bottom: 20px;
  
}

.blog-item {
    background-color: #1e1e1e;
    display: inline-block;
    width: auto;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
}

.blog-title {
    font-size: 1.5em;
    margin: 0;
}

.blog-content {
    height: 40px;
    overflow: hidden;
}

.read-more {
    background-color: #6200ea;
    width: fit-content;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}


.like-button {
    width: 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 30px;
  }

  
  .like-button:hover {
    color: #e3965e;
    background: transparent;
  }

  .math-inline{
    display: inline;
    margin-left: 15px;
  }
  
  /* .liked {
    color: #ff4000; 
  } */

/* Modal style */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #1e1e1e;
    color: #ffffff;
    width: 90%;
    height: 75%;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    position: relative;
    text-align: center;
  }

  .modalFixedDiv{
    position: fixed;
    display: block;
    overflow: hidden;
    text-align: center;
    /* width: 50rem; */
  }

  .contentDiv{
    width: 100%;
    height: 85%;
    position: relative;
    top: 15%;
    overflow: auto;
  }

  .modal-content .close {
    position: fixed;
    padding: 5px 10px ;
    border: 1px solid #000000;
    border-radius: 5px;
    background: #f07431;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
    z-index: 101;
  }
  
  .modal-content .close:hover {
    background-color: red;
  }

  #modal-user{
    position: fixed;
    top: 18%;
    left: 47%;
  }

  #modal-title{
    position: fixed;
    top: 12%;
    left: 0;
  }
  
  .hide{
    display: none;
    color: #d79090;
  }

  .view{
    display: flex;
  }