.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e1e1e; /* Dark navbar color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 97%;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    transition: background-color 0.3s ease-in-out;
}

.nav-links a:hover {
    background-color: #6200ea; 
    border-radius: 4px;
    color: black;
}

#logout a:hover{
    background-color: #e40000; 
    border-radius: 4px;
    color: black;
}